/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/*-----------------------------------------------------------------------------------
  H O M E   P A G E
-----------------------------------------------------------------------------------*/

/* =============================
  HEADER
==============================*/
.container {
  width: 80%;
  margin: 0 auto;
}
header {
 text-align: center;
}
.navBar {
  width: 80%;
  position: fixed;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0ebf0;
  height: 60px;
}
.navBar a{
  text-decoration: none;
  text-align: center;
  color: grey;
  padding: 25px;
}
.navBar a:hover {
  color: #05549c;
  text-shadow: 5px 5px 10px rgba(0,0,0,.4);
}
.navBar img {
  padding: 20px;
}
h1 {
  font-size: 60px;
  letter-spacing: 5px;
}
.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  padding-top: 40px;
}
.title {
  padding: 70px;
}
.headerImage {
  padding: 70px;
  padding-right: 0px;
}
button {
  width: 120px;
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 12px;
  background-color: white;
}

/* ============================
  MAIN
============================ */

p {
  font-size: 16px;
  line-height: 1.5;
}
.firstRow {
  display: flex;
  padding-top: 20px;
}
.firstRow .itemOne{
  padding: 30px;
  padding-left: 0px;
}
.firstRow .itemTwo {
  padding: 30px;
  padding-right: 0px;
}
.secondRow img{
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
.thirdRow {
  display: flex;
  padding-bottom: 20px;
}
.thirdRow .left {
  padding: 30px;
  padding-left: 0px;
}
.thirdRow .middle {
  padding: 30px;
}
.thirdRow .right {
  padding: 30px;
  padding-right: 0px;
}

/* ============================
 FOOTER
============================= */
footer {
  border-top: 1px solid black;
}
.contactInfo {
  padding: 20px;
  padding-left: 0px;
}
.address p{
  line-height: 1.5;
}
.contactInfo p {
  padding-top: 10px;
  line-height: 1.5;
}
.copyright {
  text-align: center;
}


/* -----------------------------------------------------------------------------
   S E R V I C E S   P A G E
------------------------------------------------------------------------------*/

/* ==============================
 HEADER
===============================*/
.headerContentServicesPage {
  border-bottom: 1px solid black;
  padding-top: 80px;
}
.headerContentServicesPage img {
  width: 100%;
  padding-bottom: 30px;
}
.titleServicesPage h1 {
  font-size: 50px;
  text-align: left;
}
.descriptionServicesPage p {
  font-size: 18px;
  text-align: left;
  padding-bottom: 30px;
}

/* =================================
 MAIN
==================================*/
.containerOneServicesPage {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.containerTwoServicesPage {
  display: flex;
  padding-bottom: 30px;
}
.containerThreeServicesPage {
  display: flex;
  padding-bottom: 30px;
}
.itemServicesPage {
  padding: 20px;
  background-color: #f7f4f4;
  border: 1px solid black;
  margin: 0 auto;
}
.leftItem {
  margin-right: 30px;
}
.itemServicesPage p {
  padding-bottom: 10px;
}
.itemServicesPage button {
  padding: 8px;
  width: 130px;
  background-color: #f9f9ff;
  border: 1px solid black;
  border-radius: 5px;
}